.blog__write {
    margin-top: 100px;
}
.blog__write {
    text-align: left;
}
.blog__write label {
    display: block;
    margin-bottom: 5px;
}
.blog__write input {
    width: 100%;
    background: #ededed;
    border: 0;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.blog__write select {
    width: 20%;
    background: #ededed;
    border: 0;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.blog__write textarea {
    width: 100%;
    background: #ededed;
    border: 0;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    resize: none;
    height: 400px;
}
.blog__write button {
    background: #000;
    color: #fff;
    border-radius: 50px;
    display: inline-block;
    padding: 10px 30px;
    float: right;
}
.blog__label {
    color: #fff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 150px 0;
    position: relative;
    z-index: 1;
}
.blog__label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: -1;
}
.blog__label .author a {
    color: #fff;
}
.blog__label .modify a {
    color: #fff;
    opacity: 0.4;
    font-size: 0.8em;
}
.blog__label .delete a {
    color: #fff;
    opacity: 0.4;
    font-size: 0.8em;
}