.footer {
    padding: 100px 0;
    font-family: "GmarketSans";
    background: #f5f5f5;
    margin-top: 200px;
}
.footer-menu {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    border-bottom: 1px solid rgb(205, 205, 205);
    margin-bottom: 50px;
}
.footer-menu > div {
    width: 16%;
}
.footer-menu > div h3 {
    font-weight: 500;
    margin-bottom: 35px;
    font-size: 20px;
}
.footer-menu > div li a {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.8;
    position: relative;
    color: rgb(96, 96, 96);
    transition: all 0.3s;
}
.footer-menu > div li a:hover {
    color: rgb(0, 0, 0);
}
.footer-menu > div li a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 1px;
    background: #000;
    transform: scaleX(0);
    transition: all 0.3s ease;
}
.footer-menu > div li a:hover::before {
    transform: scaleX(1);
    color: #000;
}

.footer-rights {
    text-align: center;
}

.footer-sns {
    margin-top: 10px;
}
.footer-sns ul {
    display: flex;
    justify-content: center;
}
.footer-sns li a {
    width: 30px;
    height: 30px;
    margin: 4px 6px;
    display: inline-block;
}
.footer-sns li:nth-child(2) a {
    background-position: -50px 0;
}
.footer-sns li:nth-child(3) a {
    background-position: -100px 0;
}
.footer-sns li:nth-child(4) a {
    background-position: -150px 0;
}