@charset "UTF-8";

/* Join */
.join-type {
    padding: 150px 0;
}
.member-form {
    max-width: 665px;
    border: 1px solid #DEDEDE;
    background: #fff;
    margin: 0 auto;
    padding: 50px;
}
.member-form .face img {
    border-radius: 50%;
    height: 180px;
    object-fit: cover;
    width: 180px;
}
.member-form h3 {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 30px;
}
.member-form .list li {
    font-size: 14px;
    line-height: 1.6;
    position: relative;
    padding-left: 10px;
}
.member-form .list li::before {
    content: '';
    width: 3px;
    height: 3px;
    background: #000;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 7px;
}
.member-form h4 {
    font-weight: 500;
    font-size: 16px;
    text-decoration: underline;
}
.member-form .blue .list {
    background-color: #f5f5f5;
    padding: 20px;
}
.member-form .blue .check {
    display: block;
    margin-top: 10px;
}
.join-intro {
    height: 200px;
    border: 1px solid #dfdfdf;
    margin-bottom: 100px;
    position: relative;
    text-align: center;
}
.join-intro .face {
    width: 180px;
    height: 180px;
    margin: 50px auto 0 auto;
    border-radius: 50%;
    background: #b7b7b7;
}
.join-intro .change {
    padding-top: 10px;
}
.join-intro .intro {
    padding-top: 20px;
}
.join-box label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}
.join-box input {
    border: 1px solid #dfdfdf;
    width: 100%;
    padding: 15px;
    height: 50px;
    margin-bottom: 30px;
}
.join-box .modify input {
    background: #dfdfdf;
}
.join-box .overlap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.join-box .overlap label {
    width: 100%;
}
.join-box .overlap input {
    width: 70%;
    margin-bottom: 0px;
}
.join-box .overlap .test {
    width: 26%;
    background: #f5f5f5;
    display: inline-block;
    text-align: center;
    height: 50px;
    line-height: 50px;
}
.join-box .overlap .comment {
    width: 100%;
    font-size: 14px;
    padding-top: 10px;
    color: red;
    margin-bottom: 20px;
}
.join-box .basic input {
    margin-bottom: 0px;
}
.join-box .basic .comment {
    width: 100%;
    font-size: 14px;
    padding-top: 10px;
    color: red;
    margin-bottom: 20px;
}
.join-info {
    margin-top: 150px;
    margin-bottom: 100px;
}
.join-info li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.join-info li strong {
    width: 20%;
    font-weight: normal;
    background: #eee;
    margin-bottom: 10px;
    padding: 10px 0;
    text-align: center;
}
.join-info li span {
    width: 78%;
    display: inline-block;
    padding: 10px 0;
    border-bottom: 1px solid #c6c6c6;
    margin-bottom: 10px;
}
.join-btn {
    display: flex;
    justify-content: space-between;
}
.join-btn a {
    display: inline-block;
    text-align: center;
    font-size: 16px;
    background: #ebe1fc;
    padding: 15px;
    box-sizing: border-box;
    width: 49%;
    transition: all 0.3s;
}
.join-btn a:hover {
    box-shadow: inset 0 0 0 2px #222;
    background: #fff;
}
.join-submit {
    font-size: 16px;
    background: #eee;
    padding: 15px;
    display: block;
    width: 100%;
    transition: all 0.3s;
    cursor: pointer;
}
.join-submit:hover {
    box-shadow: inset 0 0 0 2px #222;
    background: #fff;
}



/* blog */
.blog__search {
    margin-bottom: 80px;
}
.blog__search .search {
    border: 1px solid #C6C6C6;
    padding: 15px 30px;
    border-radius: 50px;
    min-width: 300px;
}
.blog__search .button {
    width: 47px;
    height: 47px;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -9999px;
    border-radius: 50%;
    cursor: pointer;
    transition: box-shadow 0.3s;
}
.blog__search .button:hover {
    box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.251);
}
.blog__cont .blog {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.blog__header {
    width: 30%;
}
.blog__header a {
    padding-bottom: 66%;
    display: block;
    overflow: hidden;
    background: #000;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.blog__body {
    text-align: left;
    width: 67%;
}
.blog__cate {
    background: #FF5151;
    border-radius: 20px;
    padding: 3px 15px;
    display: inline-block;
    font-size: 14px;
    color: #fff;
    margin-bottom: 10px;
}
.blog__title {
    width: 100%;
    font-size: 26px;
    margin-bottom: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.blog__desc {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
    margin-bottom: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; 
    -webkit-box-orient: vertical;
}
.blog__info {
    color: #777;
}
.blog__info a {
    color: #777;
    text-decoration: underline;
    text-underline-position: under;
}
.blog__info .modify {
    float: right;
    padding-left: 5px;
}
.blog__info .delete {
    float: right;
}
.blog__btn {
    text-align: right;
    margin-bottom: 40px;
}
.blog__btn a {
    background: #000;
    color: #fff;
    border-radius: 50px;
    display: inline-block;
    padding: 10px 30px;
}
.blog__pages {
    margin-top: 100px;
}
.blog__pages li {
    display: inline;
}
.blog__pages li a {
    width: 40px;
    height: 40px;
    border: 1px solid #000;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    display: inline-block;
}
.blog__pages li.active a {
    background: #000;
    color: #fff;
}
.blog__write {
    text-align: left;
}
.blog__write label {
    display: block;
    margin-bottom: 5px;
}
.blog__write input {
    width: 100%;
    background: #EDEDED;
    border: 0;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.blog__write select {
    width: 20%;
    background: #EDEDED;
    border: 0;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.blog__write textarea {
    width: 100%;
    background: #EDEDED;
    border: 0;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    resize: none;
    height: 400px;
}
.blog__write button {
    background: #000;
    color: #fff;
    border-radius: 50px;
    display: inline-block;
    padding: 10px 30px;
    float: right;
}
.blog__label {
    color: #fff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 150px 0;
    position: relative;
    z-index: 1;
}
.blog__label::before {
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    z-index: -1;
}

.blog__label .author a {
    color: #fff;
}
.blog__label .modify a {
    color: #fff;
    opacity: 0.4;
    font-size: 0.8em;
}
.blog__label .delete a {
    color: #fff;
    opacity: 0.4;
    font-size: 0.8em;
}
.blog__layout {
    display: flex;
    justify-content: space-between;
}
.blog__left {
    width: calc(100% - 340px);
    text-align: left;
    line-height: 1.8;
    margin-top: 80px;
    margin-bottom: 100px;
    min-height: 800px;
}
.blog__left h4 {
    font-weight: 500;
    font-size: 1.4rem;
    margin-bottom: 0.6em;
}
.blog__right {
    width: 300px;
    margin-top: 80px;
}


.type .blog__cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.type .blog__cont .blog {
    flex: 32%;
    display: block;
}
.type .blog__body {
    width: 100%;
}
.type .blog__cate {
    margin-top: 20px;
}
.type .blog__desc {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
}

.type .blog__btn {
    text-align: center;
}
.type .blog__btn a {
    text-align: center;
    background: #f5f5f5;
    border-radius: 3px;
    color: #000;
    border: 1px solid #dddddd;
    margin-top: 50px;
    padding: 15px 50px;
}


@media (max-width: 960px){
    .type .blog__cont .blog {
        flex: 0 0 49%;
    }
    .type .blog__cont .blog:last-child {
        display: none;
    }
    .blog__desc {
        -webkit-line-clamp: 2;  
    }
    .blog__layout {
        flex-direction: column;
    }
    .blog__left {
        width: 100%;
    }
    .blog__right {
        width: 100%;
        margin-bottom: 50px;
    }
    .blog__label {
        padding: 70px 10px;
    }
}
@media (max-width: 600px){
    .type .blog__cont .blog {
        flex: 0 0 100%;
    }
    .blog__cont .blog {
        flex-direction: column;
    }
    .blog__header {
        width: 100%;
    }
    .blog__body {
        width: 100%;
    }
    .blog__cate {
        margin-top: 10px;
    }
}


